<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allever.lib.ad.wanpu" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 适配 android8.0 系统(若设置了 targetSdkVersion 为 26 以上,则必须添加此权限) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>

        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="{applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->

        <!---
        <meta-data android:name="APP_ID" android:value="09f277ca386ee99cb4c910e09f562112" />
        <meta-data android:name="APP_PID" android:value="default" />
        -->
    </application>
</manifest>
